{% extends 'shshop/order/user_order_detail.html' %}

{% block title %}
    订单评论
{% endblock %}


{% block orderinfo %}{% endblock %}


{% block order_comment %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="field">
            <label class="label">商品评价</label>
            <div class="control">
              {{ form.content }}
            </div>
        </div>
        <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="comment_choices" value="5" checked>
                好评
              </label>
              <label class="radio">
                <input type="radio" name="comment_choices" value="3">
                中评
              </label>
              <label class="radio">
                <input type="radio" name="comment_choices" value="1">
                差评
              </label>
            </div>
        </div>
        <input type="hidden" name="object_id" value="{{ osku.sku.id }}">

        <div class=" has-text-right">
            <input type="submit" value="发表评价" class="button is-primary">
        </div>
    </form>
    <div class=" dropdown-divider"></div>
{% endblock %}

{% block order_actions %}{% endblock %}


{% block vue %}

{% endblock %}




