<div class="field is-horizontal">
    {% for field, errors in fields %}
    <div class="field-body">
      <div class="field is-expanded">
        <div class="field has-addons">
          <p class="control is-expanded has-icons-left">
            {{ field }}
            <span class="icon is-left">
                <i class="mdi mdi-magnify"></i>
            </span>
          </p>
          <p class="control has-icons-right">
            <input class="button is-primary" type="submit" value="搜索">
          </p>
        </div>
        <p class="help has-text-danger">{{ errors }}</p>
        {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
</div> 
