<script>
    const PhoneModalForm = {
        props: ['phone'],
        delimiters: ['{$', '$}'],
        data() {
            return {
                formProps: {
                    phone: this.phone
                }
            }
        },
        created() {
            this.formProps.phone = '{{ request.user.userinfo.phone }}'
        },
        methods: {
            save() {
                const sendData = new FormData()
                sendData.append('phone', this.formProps.phone)
                sendData.append('owner', '{{ request.user.id }}')
                request({
                    method: 'post',
                    url: `{% url "shshop:userinfo" %}`,
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'multipart/form-data'
                    },
                    data: sendData
                }).then(res => {
                    if (res.data.code == 'ok') {
                        navbar.toastMessage('is-success', res.data.message)
                        this.$parent.close()
                        location.reload()
                    } else {
                        navbar.toastMessage('is-danger', res.data.message)
                    }
                })
            }
        },
        template: `
        <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title">修改手机号</p>
                <b-button class="delete" type="is-danger" @click="$parent.close()" />
            </header>
            <section class="modal-card-body" style="overflow:inherit;">
                <b-field>
                    <b-input
                        type="text"
                        v-model="formProps.phone"
                        :hasCounter="false"
                        :value="formProps.phone"
                        :maxlength="11"
                        validation-message="手机号必须为11位数字格式"
                        pattern="[1][3,4,5,7,8,9][0-9]{9}"
                        placeholder="我的手机号"
                        required>
                    </b-input>
                </b-field>
            </section>
            <footer class="modal-card-foot">
                <b-button
                    label="取消"
                    @click="$parent.close()" />
                <b-button
                    label="确认"
                    @click="save"
                    type="is-primary" />
            </footer>
        </div>
        `
    }

</script>