<p id="updateEmail">
    <button class="button is-primary is-light is-small" @click="cartModalEmail">
        <span class="icon"><i class="mdi mdi-email-edit-outline"></i></span> <span class="text">修改</span>
    </button>
</p>

{% include 'shshop/user/email_form.html' %}
<script>
    var updateEmail = new Vue({
        el: '#updateEmail',
        delimiters: ['{$', '$}'],
        data:{
            formProps: {
                email: ''
            }
        },
        methods:{
            cartModalEmail() {
                this.$buefy.modal.open({
                    parent: this,
                    component: EmailModalForm,
                    hasModalCard: true,
                    customClass: 'custom-class custom-class-2',
                    trapFocus: true
                })
            }
        }
    })
</script>