<body>
	<form bindsubmit="addGood">
	  <view class="title">请输入商品名称
	  </view>
	  <input name="title" value="{{title}}" type="text" class="ipt"/>
	  <view class="title">请输入商品价格/元
	  </view>
	  <input name="price" value="{{price}}" type="number" class="ipt"/>
	  <view class="title">请输入商品数量
	  </view>
	  <input name="stockNumber" value="{{stockNumber}}" type="number" class="ipt"/>
	  <view class="title">请选择商品类型
	  </view>
	  <view class="type-wrap">
		<block wx:for="{{typeList}}">
		  <view bindtap="getType" data-index="{{index}}" class="type-item -currentIndex-index-choose-type-:-no-choose-">{{item.name}}
		  </view>
		</block>
	  </view>
	  <view class="title">请输入联系方式
	  </view>
	  <input name="contact" value="{{contact}}" type="text" class="ipt"/>
	  <view class="title">请输入商品描述内容
	  </view>
	  <textarea name="text" value="{{text}}" class="text-area"></textarea>
	  <view class="title">请上传商品封面图片
	  </view>
	  <view class="img-wrap">
		<block wx:for="{{cloudCoverImage}}">
		  <view class="one-img">
		  </view>
		</block>
		<!-- 选择图片 -->
		<view bindtap="chooseCoverImage"  class="one-img">
		</view>
	  </view>
	  <view class="img-wrap">
		<block wx:for="{{cloudDetaiImage}}">
		  <view class="one-img">
		  </view>
		</block>
		<!-- 选择图片 -->
		<view bindtap="chooseDetailImage"  class="one-img">
		</view>
	  </view>
	  <view id="ibokb" class="c1807">
	  </view>
	</form>
	<view class="title">请上传商品详情图片
	</view>
	<img src="/images/close.png" bindtap="deleteDetailImage" data-index="{{index}}" class="close-img"/>
	<button type="primary" form-type="submit">发布</button>
  </body>