{% extends 'shshop/article/article_list.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}


{% block article_box %}
<h1 class="is-size-4 has-text-weight-bold has-text-centered"><a class=" has-text-black-bis" href="{% url 'shshop:article_detail' article.id %}">{{ article.title }}</a></h1>
<p class="is-size-7 has-text-grey has-text-centered mt-2">
  分类:{{ article.category.name }}&nbsp;&nbsp;
  浏览量:{{ article.pv }}&nbsp;&nbsp;
  访问量:{{ article.uv }}&nbsp;&nbsp;
  发布日期:{{ article.add_date }}
</p>
<div class=" dropdown-divider"></div>
<div class="content">
    {{ article.content|safe }}
</div>
{% endblock %}

