{% load static %}

<div class="box is-radiusless is-marginless pl-6 pr-6" style="line-height: 30px;">

    <div class="is-flex is-flex-direction-column is-align-items-center mb-4">
        <figure class="image is-128x128">
        <img src="{% static 'shshop/img/payok.svg' %}">
        </figure>
        <h1 class=" is-size-3 ">支付成功</h1>
    </div>
    <div class=" dropdown-divider"></div>

    <p>订单编号：{{ order.order_sn }}</p>
    <p>实际支付：{{ order.total_amount }}元</p>
    <p>收货信息：{{ order.address }}</p>
    <p>支付状态：{{ order.get_pay_status_display }}</p>
    <p>支付方式：{{ order.get_pay_method_display }}</p>
    <p>支付时间：{{ order.pay_time }}</p>
    <p>订单商品：</p>
    <div class=" dropdown-divider"></div>
    <ul>
        {% for order_sku in order.shshopordersku_set.all %}
            <li><a>{{ order_sku.title }} <br> {{ order_sku.spec }}</a></li>
            <div class=" dropdown-divider"></div>
        {% endfor %}
    </ul>
</div>

<div class="box is-radiusless">
    <div class=" buttons is-justify-content-center">
    <a class=" button is-success" href="{% url 'shshop:user_order_detail' order.order_sn %}">查看订单</a>
    <a class=" button is-black" href="{% url 'shshop:home' %}">返回首页</a>
    </div>
</div>